#Environnement virtuel donc reconstructible avec uv sync
.venv/

#Fichiers compilés que python crée tout seul
__pycache__/

#Cache de pytest
.pytest_cahce/

#Cache de ruff
.ruff_cache/

#Les futurs modèles de RL entrainés (gros fichiers)
models/

.DS_Store
